In [45]:
import pandas as pd

In [46]:
fname = "clinVarDel.txt"

In [47]:
df = pd.read_csv(fname, sep="\t")

In [48]:
df

       chr15   22770420   28660038
0      chr11   67799159   71304541
1      chr22   21465660   23810042
2      chr19   13386643   13387962
3       chr7   72722980   74200092
4       chr3  150690232  150690796
...      ...        ...        ...
17180   chr7   83885194   83885255
17181   chr7  106095909  106096087
17182   chr4    3893054    3893163
17183   chr7   83019236   83019340
17184   chr7   53322968   53328326

[17185 rows x 3 columns]

In [49]:
df["chrom"] = "chr" + df["chrom"].astype(str)

KeyError: 'chrom'

In [42]:
df

       chrom   startPos     endPos
0      chr15   22770420   28660038
1      chr11   67799159   71304541
2      chr22   21465660   23810042
3      chr19   13386643   13387962
4       chr7   72722980   74200092
...      ...        ...        ...
17181   chr7   83885194   83885255
17182   chr7  106095909  106096087
17183   chr4    3893054    3893163
17184   chr7   83019236   83019340
17185   chr7   53322968   53328326

[17186 rows x 3 columns]

In [43]:
df.to_csv(fName, sep='\t', index=False, header=False)