In [15]:
import pandas as pd

In [16]:
df = pd.read_csv("control_coords.txt", sep='\t', header=None)

In [17]:
df

           0          1          2
0       chr5   15228798   15260402
1       chr2   43301895   43306146
2      chr13   53037516   53038864
3      chr13   21455655   21458145
4       chr1   85910957   85915409
...      ...        ...        ...
11914   chr6  116459561  116466525
11915  chr18    7345280    7346739
11916   chr6   63128452   63169081
11917   chr6  162391574  162391744
11918   chr4   79480010   79481325

[11919 rows x 3 columns]

In [18]:
df500 = df.sample(500)

In [19]:
df500.to_csv("control500_coords.txt", sep="\t", index=False, header=False)